.row.full-screen
  .col-sm-4.col-md-5.pane
    .section-title
      h3 orders
      hr
    .content
      .text-center.text-muted(ng-if='orders.length == 0')
        i.fa.fa-info.fa-2x
        br
        | &nbspnothing to show
      .card(ng-repeat='order in orders')
        .card-block
          h5.pull-right(ng-if='config.tab != "new"' ng-class='"text-" + get_color(order.status)') {{ order.status | uppercase }}
          h4.card-title {{:: order.order_number }}
          button.pull-right.btn.btn-link.text-muted(ui-sref='{{"tabs."+config.tab+".details"}}({ order_number: order.order_number })')
            | details &nbsp
            i.fa.fa-chevron-right

          strong area: &nbsp
          span.text-info {{:: order.area | uppercase }}
          br
          strong amount: &nbsp
          span {{:: order.total | currency : "&#8377 " }}
          br
          strong time: &nbsp
          span {{:: order.timestamp.$date | date : "d MMM, yy hh:mm a" }}
        .card-footer.text-right(ng-if='config.buttons_accept_cancel || config.buttons_complete')
          .btn-group
            button.btn.btn-secondary(
            ng-if='config.buttons_accept_cancel'
            ng-click='update_status(order.order_number, "cancelled")')
              i.fa.fa-times
              | &nbsp Cancel
            button.btn.btn-success(
            ng-if='config.buttons_accept_cancel'
            ng-click='update_status(order.order_number, "accepted")')
              i.fa.fa-check
              | &nbsp Accept
            button.btn.btn-primary(
            ng-if='config.buttons_complete'
            ng-click='update_status(order.order_number, "delivered")')
              i.fa.fa-paper-plane
              | &nbsp Deliver
  .col-sm-8.col-md-7.pane
    .section-title
      h3 details
      hr
    ui-view
    .text-center.text-muted(ng-if='!(stateCheck("tabs.new.details") || stateCheck("tabs.current.details") || stateCheck("tabs.past.details"))')
      i.fa.fa-chevron-left.fa-2x
      br
      | &nbspplease select an order from the list
