ion-view(title='{{ config.tab + " orders" }}')
  ion-content(
  padding='true'
  on-swipe-right='goTo("tabs." + config.right_swipe)'
  on-swipe-left='goTo("tabs."+config.left_swipe)'
  ng-class="{'center': orders.length == 0}").has-header
    ion-list
      // Message displayed when no data is available
      .calm(ng-if='orders.length == 0').wait-message
        i.icon.ion-information-circled.text-large
        br
        | &nbspnothing to show
      .card(ng-repeat='order in orders')
        .item.item-divider
          .pull-right.text-small(
          ng-if='config.tab != "new"'
          ng-class='get_color(order.status)'
          )
            | {{ order.status | uppercase }}
          span {{:: order.order_number }}
        .item.item-text-wrap.item-button-right
          strong area: &nbsp
          span.royal {{:: order.area | uppercase}}
          br
          strong amount: &nbsp
          span {{:: order.total | currency : "&#8377 " }}
          br
          strong time: &nbsp
          span {{:: order.timestamp.$date | date : "d MMM, yy hh:mm a" }}
          button.button.button-stable.button-clear.padding-top(ui-sref='{{"tabs."+config.tab+"-details"}}({ order_number: order.order_number })')
            span details &nbsp
            i.icon.ion-arrow-right-b
        .item.tabs.tabs-icon-left.tabs-light(ng-if='config.buttons_accept_cancel || config.buttons_complete')
          a.tab-item(
            ng-if='config.buttons_accept_cancel'
            ng-click='update_status(order.order_number, "cancelled")')
            i.icon.ion-close
            | Cancel
          a.tab-item.balanced(
            ng-if='config.buttons_accept_cancel'
            ng-click='update_status(order.order_number, "accepted")')
            i.icon.ion-checkmark
            | Accept
          a.tab-item.positive(
            ng-if='config.buttons_complete'
            ng-click='update_status(order.order_number, "delivered")')
            i.icon.ion-checkmark
            | Deliver
